{% extends 'layout/layoutunder.html.twig' %}
{% block body %}
    <header>

        <div id="top" class="g_container_12">

            <!-- LOGO -->

            <div id="logo" class="g_four">

                <a href="#"></a>

            </div>

            <!-- END OF LOGO -->

            <div class="clearfix"></div>

        </div>

        <div id="title" class="g_container_12">

            <h1>Site web en cours de construction</h1>

            <h2>Inscrivez vous a notre Newsletter pour recevoir notre Nouveauté</h2>

        </div>

        <div class="clearfix"></div>

    </header>
    <section>

        <!-- SUBSCRIBE -->

        <div id="subscribe">

            <form>

                <div class="input">

                    <input type="text" name="subscribe_mail" id="subscribe_mail" placeholder="entrez votre adresse E-Mail">

                    <input type="button" value="souscrire">

                </div>

            </form>

        </div>

        <!-- END OF SUBSCRIBE -->

    </section>
{% endblock %}