{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <h2>Liste des Categories
                            <a href="{{ path('categorie_new') }}">
                                <button class="btn btn-sm btn-danger">Ajouter nouvelle Categorie</button>
                            </a>
                        </h2>
                        <div class="clients-list">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                <tr>
                                                    <td class="client-avatar"><i class="fa fa-list" aria-hidden="true"></i>
                                                    </td>

                                                    <td align="center" class="client-link">Titre Categorie</td>
                                                    <td align="center" class="client-link"> Date d'ajout Categorie</td>
                                                    <td align="center" class="client-link"> Operation</td>
                                                </tr>
                                                {% for categorie in categories %}
                                                    <tr>
                                                        <td class="client-avatar"><i class="fa fa-list" aria-hidden="true"></i>
                                                        </td>

                                                        <td align="center">{{ categorie.nomCategorie }}</td>
                                                        <td align="center"> {{ categorie.dateCategorie|date("m/d/Y") }}</td>

                                                        <td align="center">
                                                            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                                                                <button class="btn btn-xs btn-primary">modifier</button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
